__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
__azurite_db_table__.json
.env
**/.DS_Store
.gitignore
.venv
__blobstorage__
__queuestorage__
.vscode
app_flask/
AzuriteConfig
catalyst_ngd_wrappers/Azure/local.settings.json
catalyst_ngd_wrappers/Azure/.funcignore
catalyst_ngd_wrappers/Azure/__pycache__
AzuriteConfig.txt
.github
