requests==2.32.3
regex==2024.11.6
datetime==5.5
python-dotenv==1.0.1
shapely==2.0.6
marshmallow==3.24.1
flask-marshmallow==1.3.0
azure-functions==1.21.3
applicationinsights==0.11.10
opentelemetry-sdk==1.31.1
opentelemetry-api==1.31.1
azure-common==1.1.28
azure-mgmt-core==1.5.0
azure-mgmt-monitor==6.0.2
azure-monitor-opentelemetry==1.6.8
azure-monitor-events-extension==0.1.0
azfunctionsmonitor==0.1.112